body {
    direction: rtl;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Vazir,'Segoe UI', Tahoma, Geneva, Verdana, srif;
    line-height: 1.8;
}
.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
}
.header {
    color: #d4cfcf;
    background: #130044;
    min-height: 68px;
    padding-top: 35px;
    border-bottom: 2px solid #de0000 ;
}
.header a {
    text-decoration: none;
    color: #d4cfcf;
    font-size: 15px;
}
.header ul li :hover {
    color:#fff;
    background-color: #de0000;
    border-radius: 3px;
}
.header li {
    display: inline;
    float: right;
    padding: 0 23px;
}
.header .logoText {
    float: right;
}
.header .logoText h1 {
    margin: 0;
}
.header .nav {
    float: left;
    margin-top: 10px;
}
.bgDesshow {
    background:url('../imgs/window10.jpg');
    color: #fff;
    text-align: center;
    min-height: 280px;
}
.bgDesshow h2 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 15px;
}
.bgDesshow p {
    font-size: 15px;
}
.boxes {
    margin-top: 18px;
}
.box {
    float: right;
    width: 30%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.box:hover{
    background: #ffffffc9;
}
.box img {
    width: 250px;
    height: 250px;
}
.box h3 {
    font-weight: bold;
    font-size: 20px;
}
.fotter {
    background-color:#de0000;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
}
/* page about Us css*/
.sidebar{
    color:#fff;
    background-color: #620080;
    width: 30%;
    float: right;
    margin-top:30px ;
    padding: 15px;
    border-radius: 10px;
}
.post {
    width: 65%;
    float: left;
}
/* Respansive */
@media (max-width:768px) {
    .header .logoText,
    .header .nav li,
    .header .nav,
    .box ,
    .main-post .post,
    .main-post .sidebar
    {
        float: none;
        width: 100%;
        text-align: center;
    }
    .header {
        padding-bottom: 18px;
    }
    .bgDesshow h2{
        font-size: 42px;
    }
    .bgDesshow p{
        font-size: 15px;
    }
    .main-post .sidebar p {
        padding: 8px;
    }
    .main-post .sidebar {
        padding: 15px 0;
    }
}
