<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="style.css">
    <script src="inistachi.js"></script>
</head>
<body>
<div class="ht-instagram">
      <div class="ht-box">
             <div class="ht-head">
              <div color="rgb(255, 255, 255)" role="button" tabindex="0" class="in-exit" title="Exit" onclick="inistachi_clop();"></div>
               <img src="svg/Instagram_logo.svg" alt="" class="icon-ht">
             </div>
            <div class="hts-body">
              <div class="str-ht">
                <strong class="strong-ht">ما معمولاً در چند دقیقه پاسخ میدهیم</strong>
                <img src="svg/direct.svg" alt="" id="direct-icon-ht" title="Direct">
                <div class="direct-ht" title="Direct"></div>
              </div>
              <div class="in-time-ht">2:06 AM</div>
              <span class="in-pm-ht"><p>سلام <span class="wave-ht-hello">👋</span> به کمک نیاز دارید؟</p></span>
              <div class="in-seen-ht">seen</div>
             <div class="jwwAjt">
              <a role="button" href="https://www.instagram.com/taymazmostafaei/" target="_blank" title="instagram" class="start-ht"><span class="gap">شروع گفتگو</span></a>
            </div>
            </div>
            </div>           
       
            </div>
        </body>
         <span class="in-ht" onclick="inistachi_clop();"></span>
</html>