<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="style.css">
    <script src="inistachi.js"></script>
</head>
<body>
    <div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
<div class="ht-instagram">
    <div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
      <div class="ht-box">
        <div class="jghtgftgjfk"></div>
        <div class="7gvygf77gyvbtg77gyb"></div>
        <div class="jg7tfvfhjfk"></div>
        <div class="jghjfk"></div>
        <div class="jghv7fgvjfk"></div>
        <div class="jgt7tfgtvhjfk"></div>
        <div class="jtgvghjfk"></div>
        <div class="jgtfvf7yvbghjfk"></div>
        <div class="jtgghjfk"></div>
        <div class="jtv7tvg7ghjfk"></div>
        <div class="jggv7tghjfk"></div>
        <div class="tferv"></div>
        <div class="jgytgygv7hjfk"></div>
        <div class="jghjfk"></div>
        <div class="jgt6tjfk"></div>
        <div class="jghjfk"></div>
        <div class="jghjfk"></div>
        <div class="jg7tgv7gtvtrfvrtfghjfk"></div>
        <div class="jghfgefrjfk"></div>
        <div class="jgherterjfk"></div>
        <div class="jgg8b8ygbhjfk"></div>
        <div class="jg8b88ygbhjfk"></div>
        <div class="jgh8ygb8gbj8ygbugybfk"></div>
        <div class="jguh9nhjfk"></div>
        <div class="jgnhbg8y8yjfk"></div>
        <div class="jgh8ygb8gbjfk"></div>
        <div class="8uytg"></div>
        <div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
        <div class="jg8ygb8gb8yghjfk"></div>
        <div class="jgh8ygb8gubjfk"></div>
        <div class="jghj8uhb h8ubfk"></div>
        <div class="jghjf8yugb8gbk"></div>
        <div class="jg8uhbhgnhjfk"></div>
        <div class="jghuuhb8hubygbtbg7yjfk"></div>
        <div class="jgygb7ghjfk"></div>
        <div class="jguygbugbhjfk"></div>
        <div class="jgygbugyghjfk"></div>
        <div class="jghjuygbugbfk"></div>
        <div class="jygbubghjfk"></div>
        <div class="jghjfk"></div>
        <div class="jghjfk"></div>
        <div class="jgherejfk"></div>
        <div class="jghjfk"></div>
        <div class="jghjddfdfk"></div>
             <div class="ht-head">
              <div color="rgb(255, 255, 255)" role="button" tabindex="0" class="in-exit" title="Exit" onclick="inistachi_clop();"></div>
               <img src="svg/Instagram_logo.svg" alt="" class="icon-ht">
                </div><div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
<div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
            <div class="hts-body">
                <div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
              <div class="str-ht">
                <strong class="strong-ht">ما معمولاً در چند دقیقه پاسخ میدهیم</strong>
                <img src="svg/direct.svg" alt="" id="direct-icon-ht" title="Direct">
                <div class="direct-ht" title="Direct"></div>
              </div>
              <div class="in-time-ht">2:06 AM</div>
              <div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
              <span class="in-pm-ht"><p>سلام <span class="wave-ht-hello">👋</span> به کمک نیاز دارید؟</p></span>
              <div class="jghtgftgjfk"></div>
<div class="7gvygf77gyvbtg77gyb"></div>
<div class="jg7tfvfhjfk"></div>
<div class="jghjfk"></div>
<div class="jghv7fgvjfk"></div>
<div class="jgt7tfgtvhjfk"></div>
<div class="jtgvghjfk"></div>
<div class="jgtfvf7yvbghjfk"></div>
<div class="jtgghjfk"></div>
<div class="jtv7tvg7ghjfk"></div>
<div class="jggv7tghjfk"></div>
<div class="tferv"></div>
<div class="jgytgygv7hjfk"></div>
<div class="jghjfk"></div>
<div class="jgt6tjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jg7tgv7gtvtrfvrtfghjfk"></div>
<div class="jghfgefrjfk"></div>
<div class="jgherterjfk"></div>
<div class="jgg8b8ygbhjfk"></div>
<div class="jg8b88ygbhjfk"></div>
<div class="jgh8ygb8gbj8ygbugybfk"></div>
<div class="jguh9nhjfk"></div>
<div class="jgnhbg8y8yjfk"></div>
<div class="jgh8ygb8gbjfk"></div>
<div class="8uytg"></div>
<div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
<div class="jg8ygb8gb8yghjfk"></div>
<div class="jgh8ygb8gubjfk"></div>
<div class="jghj8uhb h8ubfk"></div>
<div class="jghjf8yugb8gbk"></div>
<div class="jg8uhbhgnhjfk"></div>
<div class="jghuuhb8hubygbtbg7yjfk"></div>
<div class="jgygb7ghjfk"></div>
<div class="jguygbugbhjfk"></div>
<div class="jgygbugyghjfk"></div>
<div class="jghjuygbugbfk"></div>
<div class="jygbubghjfk"></div>
<div class="jghjfk"></div>
<div class="jghjfk"></div>
<div class="jgherejfk"></div>
<div class="jghjfk"></div>
<div class="jghjddfdfk"></div>
              <div class="in-seen-ht">seen</div>
             <div class="jwwAjt">
                <div class="jghtgftgjfk"></div>
                <div class="7gvygf77gyvbtg77gyb"></div>
                <div class="jg7tfvfhjfk"></div>
                <div class="jghjfk"></div>
                <div class="jghv7fgvjfk"></div>
                <div class="jgt7tfgtvhjfk"></div>
                <div class="jtgvghjfk"></div>
                <div class="jgtfvf7yvbghjfk"></div>
                <div class="jtgghjfk"></div>
                <div class="jtv7tvg7ghjfk"></div>
                <div class="jggv7tghjfk"></div>
                <div class="tferv"></div>
                <div class="jgytgygv7hjfk"></div>
                <div class="jghjfk"></div>
                <div class="jgt6tjfk"></div>
                <div class="jghjfk"></div>
                <div class="jghjfk"></div>
                <div class="jg7tgv7gtvtrfvrtfghjfk"></div>
                <div class="jghfgefrjfk"></div>
                <div class="jgherterjfk"></div>
                <div class="jgg8b8ygbhjfk"></div>
                <div class="jg8b88ygbhjfk"></div>
                <div class="jgh8ygb8gbj8ygbugybfk"></div>
                <div class="jguh9nhjfk"></div>
                <div class="jgnhbg8y8yjfk"></div>
                <div class="jgh8ygb8gbjfk"></div>
                <div class="8uytg"></div>
                <div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
                <div class="jg8ygb8gb8yghjfk"></div>
                <div class="jgh8ygb8gubjfk"></div>
                <div class="jghj8uhb h8ubfk"></div>
                <div class="jghjf8yugb8gbk"></div>
                <div class="jg8uhbhgnhjfk"></div>
                <div class="jghuuhb8hubygbtbg7yjfk"></div>
                <div class="jgygb7ghjfk"></div>
                <div class="jguygbugbhjfk"></div>
                <div class="jgygbugyghjfk"></div>
                <div class="jghjuygbugbfk"></div>
                <div class="jygbubghjfk"></div>
                <div class="jghjfk"></div>
                <div class="jghjfk"></div>
                <div class="jgherejfk"></div>
                <div class="jghjfk"></div>
                <div class="jghjddfdfk"></div>
              <a role="button" href="https://www.instagram.com/taymazmostafaei/" target="_blank" title="instagram" class="start-ht"><span class="gap">شروع گفتگو</span></a>
            </div>
            </div>
            </div>           
            <div class="jghtgftgjfk"></div>
            <div class="7gvygf77gyvbtg77gyb"></div>
            <div class="jg7tfvfhjfk"></div>
            <div class="jghjfk"></div>
            <div class="jghv7fgvjfk"></div>
            <div class="jgt7tfgtvhjfk"></div>
            <div class="jtgvghjfk"></div>
            <div class="jgtfvf7yvbghjfk"></div>
            <div class="jtgghjfk"></div>
            <div class="jtv7tvg7ghjfk"></div>
            <div class="jggv7tghjfk"></div>
            <div class="tferv"></div>
            <div class="jgytgygv7hjfk"></div>
            <div class="jghjfk"></div>
            <div class="jgt6tjfk"></div>
            <div class="jghjfk"></div>
            <div class="jghjfk"></div>
            <div class="jg7tgv7gtvtrfvrtfghjfk"></div>
            <div class="jghfgefrjfk"></div>
            <div class="jgherterjfk"></div>
            <div class="jgg8b8ygbhjfk"></div>
            <div class="jg8b88ygbhjfk"></div>
            <div class="jgh8ygb8gbj8ygbugybfk"></div>
            <div class="jguh9nhjfk"></div>
            <div class="jgnhbg8y8yjfk"></div>
            <div class="jgh8ygb8gbjfk"></div>
            <div class="8uytg"></div>
            <div class="jbgvutgvf7trcrt6ctdxc68y8gbgghjfk"></div>
            <div class="jg8ygb8gb8yghjfk"></div>
            <div class="jgh8ygb8gubjfk"></div>
            <div class="jghj8uhb h8ubfk"></div>
            <div class="jghjf8yugb8gbk"></div>
            <div class="jg8uhbhgnhjfk"></div>
            <div class="jghuuhb8hubygbtbg7yjfk"></div>
            <div class="jgygb7ghjfk"></div>
            <div class="jguygbugbhjfk"></div>
            <div class="jgygbugyghjfk"></div>
            <div class="jghjuygbugbfk"></div>
            <div class="jygbubghjfk"></div>
            <div class="jghjfk"></div>
            <div class="jghjfk"></div>
            <div class="jgherejfk"></div>
            <div class="jghjfk"></div>
            <div class="jghjddfdfk"></div>
            </div>
        </body>
         <span class="in-ht" onclick="inistachi_clop();"></span>
</html>